body{
    background-color: #f6f6f6!important;
    color: rgba ( 0, 0 , 0, 0.87 )
  }

.transactionByDate:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.react-date-picker {
  height: 34.25px;
}

.react-date-picker__inputGroup {
  text-align: right;
}

.react-date-picker__wrapper {
  border: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.react-calendar,
.react-date-picker__calendar {
  position: absolute;
  max-width: fit-content;
  max-height: fit-content;
  z-index: 2;
}
